:root {
 --gray-one: #dadada;
 --gray-two: #f1f1f1;
 --gray-three: #eaeaea;
 --white: #fff;
 --blue-black: #000031;
 --green-sea-light: #00bfff;
 --indigo: #4b0082;
 --yellow-light: #ffffe0;
 --red: #ff0000;
}
