* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background: var(--gray-one);
}

button {
    cursor: pointer;
}

.relative {
    position: relative;
}

.btn {
    background: var(--white);
    border: none;
    border-radius: 5px;
    padding: 2px;
}

.bg-transparent {
    background: transparent !important;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-10px {
    gap: 10px;
}

.justify-between {
    justify-content: space-between;
}

.imagen-container {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
